* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #0b120e;
  font-family: Tahoma;

  
}

body {}


body .imgFixed {
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.main {
  direction: rtl;

}

.container {
  width: 1270px;
  display: flex;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* header */

.header {

  display: flex;
  justify-content: center;
  height: 85px;
  width: 100%;

  background-image:
    linear-gradient(to bottom, rgba(0, 4, 106, 0.275) 0%, rgb(49, 255, 0, 0) 50%),
    linear-gradient(to top, rgba(5, 13, 57, 0.902) 0%, rgba(0, 255, 17, 0) 50%),
    linear-gradient(to bottom, rgba(26, 74, 195, 0.571) 0%, rgba(19, 66, 175, 0.486) 100%);

}

.header .container {}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header .logo {
  margin: 0 10px 0 50px;
  padding: 0;
}

.header .logo img {
  width: 150px;
  height: auto;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  margin-top: 35px;
}

.header-menu {
  display: flex;
  margin: 0 15px 0 0;
}

.header-menu li .header-menu-a {
  padding: 25px 15px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header-menu-li:hover .header-menu-slide {
  opacity: 1;
  transform: translateY(0);
}

.header-menu-li:hover .header-menu-slide li {
  display: block;
}

.header-menu-slide li:hover a {
  color: #b4f5fc;
}

.header-menu-li:hover .line {
  opacity: 1;
}

.header-menu-slide {
  position: absolute;
  background-image: linear-gradient(to bottom,
      rgba(37, 37, 37, 0.9) 0%,
      rgba(37, 37, 37, 0) 100%),
    linear-gradient(to top, rgba(37, 37, 37, 0.9) 0%, rgb(37, 37, 37, 0) 100%),
    linear-gradient(to bottom, beige 0%, rgb(211, 211, 191) 100%);

  /* background-image: linear-gradient(to top, rgb(119, 119, 110) 0%, rgb(37, 37, 37,0.8) 100% ); */
  width: 150px;
  border-radius: 10px;
  margin-top: 0px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.3s ease;
  overflow: hidden;
  z-index: +100;
  box-shadow: 10px 5px 6px 10px rgb(0, 0, 0, 0.3),
    inset 0px 0px 10px 10px rgb(0, 0, 0, 0.2);
}

.header-menu-slide li {
  padding: 15px;
  font-size: 16px;
  display: none;
  border-bottom: 4px solid #727257;
}

.header-menu-slide a {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header-menu-li:nth-child(2)>.header-menu-a::after {
  content: "⮟";
  font-size: 10px;
  margin: 0px 8px;
  display: inline-block;
}

.line-bottom {
  border-bottom: 4px solid #c0b34d;
  padding-top: 25px;
}

.line {
  border-bottom: 4px solid #c0b34d;
  opacity: 0;
  padding-top: 25px;
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.header-phone {
  padding: 8px 0;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 20px;
}








/*end header */


/* baner*/

.baner-main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 700px;
  box-shadow: inset 0px 10px 10px 2px rgb(0, 0, 0, 0.6);
}



.baner .container {
  position: relative;
  flex-direction: column;
}

.baner-title {
  color: beige;
  text-shadow: 1px 1px 2px black, 1px 1px 30px blue, 10px 15px 5px darkblue;
  font-size: 40px;
  width: 400px;
  margin-top: 30px;
}



.baner .slider {
  display: flex;
  position: relative;
  top: 80px;
  margin: 0 auto;
}

.baner .list {
  display: flex;
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 30px;

  box-shadow: 20px 15px 20px 10px rgb(0, 0, 0, 0.3),
    20px 15px 20px 10px rgb(0, 0, 0, 0.2), 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
}

.list .item {
  width: 400px;
  height: 300px;
  border-radius: 30px;
  position: absolute;
  transition: .5s ease;
}


.item.position-0 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 1;
}

.item.position-1 {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 240px;
  z-index: 4;
  opacity: 1;
}

.item.position-2 {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 430px;
  z-index: 3;
  opacity: 0.6;
}

.item.position-3 {
  width: 80%;
  height: 80%;
  top: 10%;
  left: -350px;
  z-index: 1;
  opacity: 0.6;
}

.item.position-4 {
  width: 90%;
  height: 90%;
  top: 5%;
  left: -200px;
  z-index: 2;
  opacity: 1;
}

.item img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.baner .btns {
  width: 150px;
  height: 80px;
  margin: 130px auto;
  border: none;
}

.baner #btnNext,
.baner #btnPrev {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin: 10px;
  border: none;
  transition-duration: 1s;
  background-color: rgb(28, 233, 79);
  box-shadow:
    5px 5px 5px 3px rgb(0, 0, 0, 0.3),
    inset 0px 0px 4px 3px rgb(0, 0, 0, 0.1),
    inset 0px 0px 4px 3px rgb(0, 0, 0, 0.4);
}

.baner #btnNext img,
.baner #btnPrev img {
  width: 80%;

}

.baner #btnNext:hover,
.baner #btnPrev:hover {
  background: rgb(224, 20, 20);

}

/* end baner */






/* main */

.discription .container{
  border-radius: 30px;
 display: flex;
 flex-direction: column;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  /* margin-bottom: 50px;
  padding: 50px; */
}
.vv{
  /* margin: auto;
  width: 100%;
  height: auto;
  background-color: #b4f5fc;
border-radius: 30px; */
/* border: 50px solid red; */

/* border-top-left-radius: 100px 100%;
border-top-right-radius: 100px 100%;
border-bottom-right-radius: 100px 100%;
border-bottom-left-radius: 100px 100%;
background-image:
linear-gradient(to bottom, rgba(0, 4, 106, 0.275) 0%, rgb(49, 255, 0, 0) 50%),
linear-gradient(to top, rgba(5, 13, 57, 0.902) 0%, rgba(0, 255, 17, 0) 50%),
linear-gradient(to bottom, rgba(63, 195, 26, 0.571) 0%, rgba(27, 175, 19, 0.486) 100%); */

}

.discriptionMain {
  margin: 20px;
  width: 100%;
  height: 700px;
border-radius: 30px;
padding: 20px;
border: solid 3px rgb(255, 0, 0);

border-top-left-radius:20% ;
border-bottom-right-radius:20% ;
background-color: #41badc81;
background-image:
  linear-gradient(to bottom, rgba(0, 4, 106, 0.275) 0%, rgb(49, 255, 0, 0) 50%),
  linear-gradient(to top, rgba(5, 13, 57, 0.902) 0%, rgba(0, 255, 17, 0) 50%),
  linear-gradient(to bottom, rgba(26, 74, 195, 0.571) 0%, rgba(19, 66, 175, 0.486) 100%);

}


.discription p{
margin: 0px 20px;
padding-left: 50px;
color: #fff;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
line-height: 2;
text-align: justify;
}
.discription h3 {
  margin: 30px 20px 5px 0px;
  color: #ead708;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}






/* footer */
.footer {
  background-color: #4a4f4c;
}

.footer-main {
  display: flex;
  justify-content: center;
  height: 630px;
  /* background-color: #373737; */
  background-image: url(../images/225.png);
  background-size: cover;
  border-radius: 40px;
  box-shadow: 10px 5px 6px 10px rgb(0, 0, 0, 0.3),
    inset 0px 0px 30px 5px rgb(0, 0, 0, 1),
    inset 0px 0px 30px 80px rgb(0, 0, 0, 0.1),
    inset 0px 0px 30px 60px rgb(0, 0, 0, 0.2),
    inset 0px 0px 30px 40px rgb(0, 0, 0, 0.2),
    inset 0px 0px 30px 20px rgb(0, 0, 0, 0.4);
}

.footer .container {
  display: flex;
}

.footer-right {
  width: 600px;
  margin: 90px 0 0 0;
}

.footer-center {
  width: 200px;
  margin: 90px 50px 0 0;
}

.footer h3 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(16, 73, 244),
    0 0 5px rgb(9, 65, 231);
  font-size: 25px;
  margin-bottom: 40px;
}

.footer p {
  color: #fff;
  font-size: 20px;
  text-align: justify;
  line-height: 1.8;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}